/* Global css */
.App {
	height: 100vh;
	width:100vw;
	overflow:hidden;
}
.logoBig {
	width:30em;
	height:10em;
	margin: 3em;
}
.start-card-wrapper{
	width: 20em;
	display: flex;
	height: 125vh;
	flex-direction: column;
	margin: 0 auto;
	padding-top:25em;
}
.card{
	height:95%;
	margin-top: -18em;
}

.start-card-wrapper input[type="radio"]:checked + label {
	flex: 1 1 auto;
	margin-bottom: -3em;
}

.start-card-wrapper  label {
	flex: 0 0 auto;
	transition: all 1s;
}

/* DISPLAY NONE I DESKTOP VY på ALLT utom korten */
.start-card-wrapper > input	{
	display: none;
}
@media only screen and (max-height: 580px){
	.start-card-wrapper{
		height:150vh;
		width:18em;
		padding-top:23em;
	}
	.start-card-wrapper input[type="radio"]:checked + label {
		margin-bottom: -2em;
	}
	.card{
		margin-top: -16.3em;
		height:auto;
	}
}
@media only screen and (max-height: 700px){
	.start-card-wrapper{
		height:140vh
	}
}
@media only screen and (min-width: 700px){
	.start-card-wrapper{
		position: relative;
		display:grid;
		width:80%;
		grid-template-columns: repeat(3,1fr);
		margin:0 auto;
		padding-top: 1rem;
	}
	.first-card{
		grid-column-start: 1;
		grid-column-end: 1;
		z-index: 10;
		margin-top: 0;
	}
	.second-card{
		grid-column-start: 2;
		grid-column-end: 2;
		z-index: 5;
		margin-top: 0;
	}
	.third-card{
		grid-column-start: 3;
		grid-column-end: 3;
		z-index: 1;
		margin-top: 0;
	
	}

}
@media only screen and (min-width: 1200px){
	.start-card-wrapper{
		width:60%;
		padding-left: 3em;
	}
}
